<div class="col-md-12 col-lg-12 col-xs-12 block no-padding shadow-down" style="height: 20%; background-color: #ffffff;">
    <div class="centered" style="width: 90%;">
        <img class="img-responsive center-block" src="css/LOGO.png" style="width: 80%;">
    </div>
</div>

<div class="col-md-12 col-lg-12 col-xs-12 block no-padding" style="height: 40%;">
    <div class="centered" style="width: 90%;">
        <div ng-switch="mensajeITRACKQ.messageType" style="color: #ffffff;">
            <div ng-switch-default="">
                <div class="col-md-12 col-lg-12 col-xs-12" style="font-size: 4vh;">
                    <span>
                        Ya estás registrado en el sistema, para ser atendido escaneá tu celular en el verificador de precios.
                    </span>
                </div>
            </div>

            <div ng-switch-when="INICIO">
                <span class="message">Gracias por su compra !</span>
                <br>
                <span class="message">{{mensajeITRACKQ.sucursal.nombre}}</span>
            </div>

            <div ng-switch-when="CADUCIDAD">
                <span class="message">{{mensajeITRACKQ.label}}</span>
            </div>

            <div ng-switch-when="CAMBIO_COASTER">
                <span class="message">{{mensajeITRACKQ.demora}}</span>
            </div>

            <div ng-switch-when="ACTUALIZAR_ESPERA">
                <span class="message">{{mensajeITRACKQ.espera}}</span>
            </div>

            <div ng-switch-when="HORA_LLAMADA">
                <span class="message">{{mensajeITRACKQ.label}}</span>
                <span class="message">{{mensajeITRACKQ.hora}}:{{mensajeITRACKQ.minutos}}</span>
            </div>

            <div ng-switch-when="ACTUALIZAR_UMBRAL_LLAMADO">
                <span class="message">{{mensajeITRACKQ.label}}</span>
            </div>

            <div ng-switch-when="TURNO_SOLICITADO">
                <span class="message">{{mensajeITRACKQ.demora}}</span>
            </div>

            <div ng-switch-when="PRESENTARSE_CAJA">
                <div class="col-md-12 col-lg-12 col-xs-12" style="font-size: 4vh;">
                    <span>DIRIJASE A</span>
                </div>
                <div class="col-md-12 col-lg-12 col-xs-12">
                    <span class="message-big">{{mensajeITRACKQ.label}}</span>
                    <span class="message-big">{{mensajeITRACKQ.numeroCaja}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-12 col-xs-12 block no-padding shadow-down" style="height: 25%; background-color: #ffffff;">
    <div class="centered">
        <div class="col-md-4 col-xs-4" style="margin-top: 12%; padding: 0px;">
            <span class="font-bold" style="color: #4D9845; font-size: 3.8vh;">
                Código de barras.
            </span>
        </div>

        <div class="col-md-8 col-xs-8" style="margin-top: 2%; padding: 5px;">
            <img id="barCode" class="img-responsive center-block">
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-12 col-xs-12 block no-padding" style="height: 15%;">
    <div class="centered" style="width: 90%;">
        <hr style="border-top: 1px solid #ffffff;">

        <div class="row">
            <div class="col-md-2 col-xs-2">
                <img class="img-responsive center-block" src="css/WIFI.png">
            </div>
            <div class="col-md-10 col-xs-10 text-left">
                <span class="font-plain" style="color: #ffffff; font-size: 3.5vh;">
                    {{mensaje}}
                </span>
            </div>
        </div>
    </div>
</div>
