<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.itrackcoasterapk685903" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <gap:config-file parent="/manifest" platform="android">
        <application android:debuggable="true" />
    </gap:config-file>
    
    <gap:config-file parent="/manifest" platform="ios">
        <application ios:debuggable="true" />
    </gap:config-file>
    
    <name>itrackq-coaster</name>
    <allow-navigation href="http://*/*" />
    <content src="index.html" />
    <access origin="*" />
    
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="1000" />
	<preference name="orientation" value="portrait" />
    
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    
	<platform name="ios" />
	<platform name="android" />
	<platform name="winphone" />
    
    <plugin name="com.phonegap.plugins.barcodescanner" spec="2.2.0" source="pgb" />
    <plugin name="de.appplant.cordova.plugin.background-mode" spec="0.6.4" source="pgb" />
    <plugin name="org.apache.cordova.vibration" spec="0.3.13" source="pgb" />
    <plugin name="wifiwizard" source="npm" version="0.2.11" />
    <plugin name="nl.x-services.plugins.insomnia" spec="4.0.1" source="pgb" />
</widget>
