<div class="col-md-12 col-lg-12 col-xs-12 block no-padding" style="height: 5%;">
    <div class="centered" style="width: 90%;">
    </div>
</div>

<div class="col-md-12 col-lg-12 col-xs-12 block no-padding shadow-up" style="height: 25%; background-color: #ffffff;">
    <div class="centered" style="width: 90%;">
        <img class="img-responsive center-block" src="css/LOGO.png" style="width: 80%;">
    </div>
</div>

<div class="col-md-12 col-lg-12 col-xs-12 block no-padding shadow-down" style="height: 20%; background-color: #ffffff;">
    <div class="centered" style="width: 90%;">
        <hr style="border-top: 2px solid #4D9845; margin-top: 0px;">

        <span class="font-bold" style="color: #4D9845; font-size: 3.5vh;">
            Sistema de Administración de Filas
        </span>
    </div>
</div>

<div class="col-md-12 col-lg-12 col-xs-12 block no-padding" style="height: 35%;">
    <div class="centered" style="width: 80%;">
		<div ng-switch="mensajeITRACKQ.messageType" style="color: #ffffff;">
				<div ng-switch-default="">
					<div class="col-md-12 col-lg-12 col-xs-12" style="font-size: 4vh;">
						<span>
							Aguarde un momento por favor, estamos iniciando la conexión con el sistema de filas virtuales.
						</span>
					</div>
				</div>

				<div ng-switch-when="DISCONNECT">
					<span class="message">{{mensajeITRACKQ.data}}</span>
				</div>

				<div ng-switch-when="CONNECTION-ERROR">
					<span class="message">{{mensajeITRACKQ.data}}</span>
				</div>
		</div>
    </div>
</div>

<div class="col-md-12 col-lg-12 col-xs-12 block no-padding" style="height: 15%;">
    <div class="centered" style="width: 90%;">
        <hr style="border-top: 1px solid #ffffff;">

        <div class="row">
            <div class="col-md-2 col-xs-2">
                <img class="img-responsive center-block" src="css/WIFI.png">
            </div>
            <div class="col-md-10 col-xs-10 text-left">
                <span class="font-plain" style="color: #ffffff; font-size: 3.5vh;">
                    {{mensaje}}
                </span>
            </div>
        </div>
    </div>
</div>