<div class="row text-center">
    <h3>
        Su turno ha sido aceptado.
    </h3>

    <hr>

    <h5>Tipo de turno: <b>Mas de 20 unidades</b></h5>
    <h5>Hora de solicitud: <b>11:20 AM</b></h5>

    <br>

    <h5>Hora probable de atencion: <b>11:45 AM</b></h5>

    <hr>

    <h5 style="border: 1px solid black;">
        Mensajes del servidor ...
    </h5>
</div>

<hr>

<div class="row text-center">
    <button class="btn btn-primary" ng-click="mostrarPantallaAtencionTurno()">
        Continuar
    </button>

    <button class="btn btn-primary"">
        Cancelar turno
    </button>
</div>