<div>
    <div class="row text-center">
        <h5>
            Seleccione el tipo de chango que posee para solicitar un turno
        </h5>

        <div class="col-xs-6 col-sm-6 col-md-6">
            <img class="img-responsive center-block" src="img/CH.png">
            <h5>Hasta 20 unidades</h5>
            <span><b>01:30´</b></span>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6">
            <img class="img-responsive center-block" src="img/GR.png">
            <h5>Mas de 20 unidades</h5>

            <span><b>01:30´</b></span>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6">
            <img class="img-responsive center-block" src="img/EMB.png">
            <h5>Embarazadas</h5>
            <span><b>01:30´</b></span>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <img class="img-responsive center-block" src="img/PF.png">
            <h5>Pago facil</h5>
            <span><b>01:30´</b></span>
        </div>
    </div>

    <hr>

    <div class="row text-center">
        <button class="btn btn-primary" ng-click="mostrarPantallaMonitorTurno()">
            Continuar
        </button>
    </div>
</div>